
.button {
    
}
.textbox {
    color: black;
    background-color: whitesmoke;
    color: black;
    top 200px;
    left: 100px;
    width: 200px;
    height: 100px;
}
.linebox{
    background: green;
    display: inline;
    width: 500px;
    height: 500px;
    
}